*{
	margin: 0px;
	padding: 0px;
}

body{
	font-family: 'Lato', sans-serif;
}

header{
	background-color: #ED4C5C;
	min-height: 500px;
}
.header-container{
	display: flex;
	justify-content: space-between;
	max-width: 1065px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 94px;

}
.header-title{
	font-style: normal;
	font-weight: 600;
	font-size: 36px;
	line-height: 43px;
	color: #FFFFFF;
}

.header-info{
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 140%;
	text-align: justify;
	color: #FFFFFF;
	margin-top: 40px;
}

.header-text{
	width: 445px;
	height: 195px;
	padding-top: 26px;
}

.header-icons{
	display: flex;
	justify-content: space-between;
	width: 134px;
	margin-top: 40px;
	align-items: center;
}

/*-----Main container------*/
.main-title{
	font-style: normal;
	font-weight: 600;
	font-size: 36px;
	line-height: 43px;
	color: #000000;
}

.main-info{
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 140%;
	text-align: justify;
	color: #000000;
}

main{
	min-height: 500px;
}

.main-container{
	display: flex;
	justify-content: space-between;
	max-width: 1095px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 117px;
}

.main-header{
	width: 440px;
	height: 160px;
	padding-left: 10px;
}

.main-info{
	margin-top: 55px;
}

input, select{
	height: 60px;
	border-radius: 6px;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 19px;
	color: rgba(19, 39, 67, 0.5);
}
option{
	color: black;
}

.top{
	width: 255px;
	padding-left: 30px;
	box-sizing: border-box;
}

.middle{
	width: 540px;
	padding-left: 30px;
	box-sizing: border-box;
}

button{
	width: 160px;
	height: 50px;
	border-radius: 6px;
	background-color: #ED4C5C;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 17px;
	text-transform: uppercase;
	color: #FFFFFF;
	border: none;
	cursor: pointer;
}

button:hover{
	background-color: lime;
}

.names{
	display: flex;
	justify-content: space-between;
}

.phone, .service, .subbutton{
	margin-top: 25px;
}

/*-----Footer container------ */

.footer{
	min-height: 435px;
	background-color: #FAFAFA;
}

.footer-block{
	display: flex;
	padding-top: 85px;
	justify-content: space-between;
	max-width: 1065px;
	margin-left: auto;
	margin-right: auto;
}
.address{
	width: 240px;
	height: 290px;
}
.services, .contacts{
	width: 240px;
}

h4{
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 22px;
	color: #101010;
}

.info-address, .copyright{
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	line-height: 150%;
	color: #101010;
}

.copyright{
	line-height: 14px;
}

.serv-list{
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	line-height: 160%;
	text-transform: capitalize;
	color: #000000;
}

.mail, .numb{
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	line-height: 14px;
	color: #101010;
}

.info-address, .serv-list, .mail{
	margin-top: 45px; 
}

.copyright{
	margin-top: 145px; 
}

.numb{
	color: #121212;
	margin-top: 10px;
	margin-bottom: 10px;
}

a{
	text-decoration: none;
	color: #000000;
}	

.ficon-l{
	width: 14px;
	height: 14px;
}

.footer-icons-l{
	display: flex;
	justify-content: space-between;
	width: 66px;
}

.ficon-r{
	padding-top: 35px;
}