/* {
	box-sizing: border-box;
}*/
*{
	margin: 0px;
	padding: 0px;
}

body{
	font-family: 'Lato', sans-serif;
}

.header{
	background-color: #ED4C5C;
	min-height: 500px;
	display: flex;
}
.header-title{
	font-style: normal;
	font-weight: 600;
	font-size: 36px;
	line-height: 43px;
	color: #FFFFFF;
}

.header-info{
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 140%;
	/* or 20px */
	text-align: justify;
	color: #FFFFFF;
	margin-top: 40px;
}

.left-header{
	margin-left: 165px;
	margin-top: 122px;
}

.header-text{
	width: 445px;
	height: 195px;
}

.hicon{
	width: 30px;
	height: 30px;
}

.header-icons{
	display: flex;
	justify-content: space-between;
	width: 134px;
	margin-top: 40px;
}

.right-header{
	margin-top: 94px;
	margin-left: 50px;
}
/*-----Main box------*/
.main-title{
	font-style: normal;
	font-weight: 600;
	font-size: 36px;
	line-height: 43px;
	color: #000000;
}

.main-info{
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 140%;
	/* or 20px */
	text-align: justify;
	color: #000000;
}

.main{
	min-height: 500px;
	display: flex;
}

.main-header{
	width: 440px;
	height: 160px;
	margin-top: 117px;
	margin-left: 175px;
}

.main-info{
	margin-top: 55px;
}

.main-form{
	margin-top: 117px;
	margin-left: 110px;
	background-color: yellow;
}

input, select{
	height: 60px;
	border-radius: 6px;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 19px;
	color: rgba(19, 39, 67, 0.5)
}
option{
	color: black;
}

.top{
	width: 255px;
	padding-left: 30px;
}

.middle{
	width: 540px;
	padding-left: 30px;
}

button{
	width: 160px;
	height: 50px;
	border-radius: 6px;
	background-color: #ED4C5C;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 17px;
	text-transform: uppercase;
	color: #FFFFFF;
}

.names{
	display: flex;
	justify-content: space-between;
}

.phone, .service, .subbutton{
	margin-top: 25px;
}